   body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

h1 {
    margin-top: 100px;
    color: #cf0909;
}

p {
    font-size: 18px;
    color: #555;
}

